***Pandas***

In [1]:
import pandas as pd

In [5]:
# series
s1 = pd.Series([10, 20,30,40,50])
s1

0    10
1    20
2    30
3    40
4    50
dtype: int64

Note: Thier is default inedxing from 0 and we can also acccess the elment similar to array.

In [6]:
type(s1)

pandas.core.series.Series

Let's try to change the index numeral to alphabets

In [8]:
s2 = pd.Series([10, 20, 30, 40, 50], index=['a', 'b', 'c', 'd', 'e'])

In [10]:
s2
s2['c']

30

Dictionary : {key value} pair

In [13]:
dictionary = {'a':10, 'b': 20, 'c':30}

In [16]:
dict = pd.Series(dictionary)
dict

a    10
b    20
c    30
dtype: int64

In [18]:
type(dict)

pandas.core.series.Series

Note: We can chnage then the oder of dic by chnaging the index

In [25]:
from numpy import double
dict = pd.Series(dictionary, index = ['b', 'a', 'c', 'd'], dtype=double)
dict

b    20.0
a    10.0
c    30.0
d     NaN
dtype: float64

In [26]:
type(dict['d'])

numpy.float64

Extracting individual element

In [38]:
s1 = pd.Series([1, 2,3,4,5,6,7,8,9,10])
print("4th ele: ", s1[3]) # 4th ele

# from 3rd ele
print("4th ele:\n", s1[3: ])

#last 4 ele
print("last 4th ele:\n ", s1[: -4])

#first 4 ele
print("first 4th ele:\n ", s1[ : 4])

4th ele:  4
4th ele:
 3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
last 4th ele:
  0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
first 4th ele:
  0    1
1    2
2    3
3    4
dtype: int64

Basic maths

In [52]:
#scaler value to all ele
# s2 = pd.Series(s1 + 6)
s2 = s1+5
# print(s2)


s3 = pd.Series(s1 + 10)
# print(s3)
# print(s1)


print(s2 * s3)
print(s2 / s3)
print(s3 % s2)

0     66
1     84
2    104
3    126
4    150
5    176
6    204
7    234
8    266
9    300
dtype: int64
0    0.545455
1    0.583333
2    0.615385
3    0.642857
4    0.666667
5    0.687500
6    0.705882
7    0.722222
8    0.736842
9    0.750000
dtype: float64
0    5
1    5
2    5
3    5
4    5
5    5
6    5
7    5
8    5
9    5
dtype: int64

**Data Frame: 2D data **

In [60]:
df = pd.DataFrame({ "Name" : ["Pravee", "Prabhat", "Silly"], "Marks" :  [80, 90, 78]})
df

      Name  Marks
0   Pravee     80
1  Prabhat     90
2    Silly     78

Dataframe basic function:
1. shape
2. head
3. tail
4. Describe

In [68]:
df = pd.read_csv("iris.csv")
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [76]:
print("head: \n", df.head(12)) #head
print("tail: \n", df.tail()) #Tail
print("shape: \n", df.shape) #shape [ row , col]
print("Describe: \n", df.describe()) #Describe

head:
     sepal_length  sepal_width  petal_length  petal_width species
0            5.1          3.5           1.4          0.2  setosa
1            4.9          3.0           1.4          0.2  setosa
2            4.7          3.2           1.3          0.2  setosa
3            4.6          3.1           1.5          0.2  setosa
4            5.0          3.6           1.4          0.2  setosa
5            5.4          3.9           1.7          0.4  setosa
6            4.6          3.4           1.4          0.3  setosa
7            5.0          3.4           1.5          0.2  setosa
8            4.4          2.9           1.4          0.2  setosa
9            4.9          3.1           1.5          0.1  setosa
10           5.4          3.7           1.5          0.2  setosa
11           4.8          3.4           1.6          0.2  setosa
tail:
      sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica
shape:
 (150, 5)
Describe:
        sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [83]:
df['species'].unique()
# df['species'].value_count()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

iloc, loc: for accssing any value

In [89]:
# iloc: index location
df.iloc[ : , : ] # all
df.iloc[ 3:12 , : ] # 3 - 12 rows
df.iloc[ 3:12 ,0 : 4] # only length
df.iloc[ 3:12 ,:2 ] # only length
df.iloc[ 3:12 ,2: ] # only length

    petal_length  petal_width species
3            1.5          0.2  setosa
4            1.4          0.2  setosa
5            1.7          0.4  setosa
6            1.4          0.3  setosa
7            1.5          0.2  setosa
8            1.4          0.2  setosa
9            1.5          0.1  setosa
10           1.5          0.2  setosa
11           1.6          0.2  setosa

Loc :location

In [108]:
df
# df.loc[""]
# df.loc(["petal_length', 'sepal_length'])
petal_length = df.loc[: , ("petal_length", "sepal_length") ]
petal_length

     petal_length  sepal_length
0             1.4           5.1
1             1.4           4.9
2             1.3           4.7
3             1.5           4.6
4             1.4           5.0
..            ...           ...
145           5.2           6.7
146           5.0           6.3
147           5.2           6.5
148           5.4           6.2
149           5.1           5.9

[150 rows x 2 columns]

**Dropping col or row**
Note:
1/ Droping a column : axis = 1
2/ Droping a row : axis = 0

In [117]:
# drop column
dropped_df = df.drop("petal_length", axis = 1)
dropped_df


# drop row : we have to provide the list of row we want to drop
dropped_df = dropped_df.drop([1, 7,9 ], axis = 0)
dropped_df.head(10)

    sepal_length  sepal_width  petal_width species
0            5.1          3.5          0.2  setosa
2            4.7          3.2          0.2  setosa
3            4.6          3.1          0.2  setosa
4            5.0          3.6          0.2  setosa
5            5.4          3.9          0.4  setosa
6            4.6          3.4          0.3  setosa
8            4.4          2.9          0.2  setosa
10           5.4          3.7          0.2  setosa
11           4.8          3.4          0.2  setosa
12           4.8          3.0          0.1  setosa

Basic maths method
1. Mean
2. Mode
3. Median
4. max/min

In [124]:
print("Min:\n ", df.min())
print("Max:\n ", df.max())
print("Median:\n ", df.median())
print("Mean:\n ", df.mode())
# print("Mean:\n ", df.())

Min:
  sepal_length       4.3
sepal_width        2.0
petal_length       1.0
petal_width        0.1
species         setosa
dtype: object
Max:
  sepal_length          7.9
sepal_width           4.4
petal_length          6.9
petal_width           2.5
species         virginica
dtype: object
Median:
  sepal_length    5.80
sepal_width     3.00
petal_length    4.35
petal_width     1.30
dtype: float64
Mean:
     sepal_length  sepal_width  petal_length  petal_width     species
0           5.0          3.0           1.5          0.2      setosa
1           NaN          NaN           NaN          NaN  versicolor
2           NaN          NaN           NaN          NaN   virginica

<ipython-input-124-ae06423c8e8c>:3: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print("Median:\n ", df.median())

In [128]:
#means of particular col
df["sepal_length"].min()

4.3