**Python Data structure**

# Topics


1.   Booleans
2.   logical operator
3.   List
4.   Comparision operator
5.   Dictionaries
6.   Tuples
7.   Sets

Boolean Variables
: Boolean values are the two constant objects False and True

In [3]:
False

False

Print(True, False)

In [4]:
# check data type
type(True)

bool

In [5]:
# strings
str = "John"
print(str)

John

In [6]:
str.istitle()

True

In [7]:
print(str.capitalize()) # More specifically, make the first character have upper case and the rest lower
print(str.count('9'))
print(str.endswith('J'))
print(str.endswith('n'))

John
0
False
True

Boolean and Logical Operator

In [8]:
print("True and True:  ", True and True)
print("True and False:  ", True and False)
print("False and True:  ", False and True)
print("False and False:  ", False and False)

True and True:   True
True and False:   False
False and True:   False
False and False:   False

**Lists**
A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements

In [9]:
my_list = []

In [10]:
type(my_list)

list

In [11]:
another_list = list()
type(another_list)

list

In [12]:
my_list = ['Banglore', 'Delhi', 'Mumbai', 123, 11]
my_list

['Banglore', 'Delhi', 'Mumbai', 123, 11]

In [13]:
len(my_list)

5

In [14]:
# my_list[len(my_list)] # list index out of range
my_list[len(my_list) - 1]

11

In [15]:
my_list.append('Pune')
my_list

['Banglore', 'Delhi', 'Mumbai', 123, 11, 'Pune']

In [16]:
my_list.append(['Pune', 'Hydrabd'])
my_list

['Banglore', 'Delhi', 'Mumbai', 123, 11, 'Pune', ['Pune', 'Hydrabd']]

Indexing in **list**

In [17]:
my_list[:] # all items

['Banglore', 'Delhi', 'Mumbai', 123, 11, 'Pune', ['Pune', 'Hydrabd']]

In [18]:
my_list[1:4] # from to upto-1

['Delhi', 'Mumbai', 123]

In [19]:
my_list.insert(2, 'Noida')
my_list

['Banglore', 'Delhi', 'Noida', 'Mumbai', 123, 11, 'Pune', ['Pune', 'Hydrabd']]

**Extend method**

In [20]:
new_list = [1,2,3]
new_list

[1, 2, 3]

In [21]:
new_list.extend([4,5,6])
# new_list
new_list.extend(['joh', 'dummy'])
new_list

[1, 2, 3, 4, 5, 6, 'joh', 'dummy']

In [22]:
# sum(new_list)
num_list = [1,2,4,5]
print("sum", sum(num_list))
print("sum", max(num_list))
print("sum", min(num_list))

num_list.extend([1, 1, 2,3,])

sum 12
sum 5
sum 1

In [23]:
num_list

[1, 2, 4, 5, 1, 1, 2, 3]

In [24]:
num_list.pop()

3

In [25]:
num_list.count(1)

3

In [27]:
#index of occurance : first occurance
num_list.index(1, 0, 5)

0

**set**
A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [31]:
setV = set()
type(setV)
print(setV)

set()

In [33]:
setV = {1, 2, 3, 4,5}
setV

{1, 2, 3, 4, 5}

In [35]:
setV.add("Hulk")
setV

{1, 2, 3, 4, 5, 'Hulk'}

In [36]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}

In [38]:
#intersection of two set
set1.union(set2)

{'Avengers', 'Hitman', 'Hulk2', 'IronMan'}

In [39]:
set2.intersection_update(set1)

In [40]:
set2

{'Avengers', 'Hitman', 'IronMan'}

In [42]:
set1.intersection_update(set2)
set1

{'Avengers', 'Hitman', 'IronMan'}

**Dictionaries**
A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [43]:
dis = {}

In [44]:
my_dict={"Car1": "Audi", "Car2":"BMW","Car3":"Mercidies Benz"}
new_dict = {'1': "Herry", '2': "porter", '3': "hermione"}
new_dict

{'1': 'Herry', '2': 'porter', '3': 'hermione'}

In [50]:
new_dict['1']

'Herry'

In [54]:
# Retrive all keys
for keys in new_dict:
  print(keys)

1
2
3

In [55]:
# All values of dictonary
for val in new_dict.values():
  print(val)

Herry
porter
hermione

In [61]:
# All items
for item in new_dict.items():
  print(item)

('1', 'Herry')
('2', 'porter')
('3', 'hermione')

In [64]:
# Update any value
new_dict['1'] = 'ron';

for item in new_dict.items():
  print(item)

('1', 'ron')
('2', 'porter')
('3', 'hermione')

In [65]:
# add new value
new_dict['4'] = 'DumbleDore';

for item in new_dict.items():
  print(item)

('1', 'ron')
('2', 'porter')
('3', 'hermione')
('4', 'DumbleDore')

Nested Disctonary

In [67]:
car1_model = {'Mercedes': 1999}
car2_model = {'Audi': 1229}
car3_model = {'Wolswagon': 2001}

cars = {'car1' : car1_model, 'car2': car2_model, 'car3': car3_model}

cars

{'car1': {'Mercedes': 1999},
 'car2': {'Audi': 1229},
 'car3': {'Wolswagon': 2001}}

In [68]:
print(cars['car1'])

{'Mercedes': 1999}

In [71]:
print(cars['car1']['Mercedes'])
# print(cars['car1']['dummy'])

1999

KeyError: ignored

**Tuples**

In [72]:
my_tuple = tuple()
type(my_tuple)

tuple

In [74]:
my_tuple = ('Praveen', 'Prabhat', 'Ron')
my_tuple

('Praveen', 'Prabhat', 'Ron')

In [75]:
my_tuple[0]

'Praveen'

In [78]:
#note: tuples value can't be replace or override
# my_tuple[0] = 'Prabhat' # 'tuple' object does not support item assignment

In [83]:
my_tuple = ('Ron', 'Hermione', 'Ron', 'ron') # we can create new one, this is useed in a program where we requred to set vlues one time
for item in my_tuple:
  print(item)

Ron
Hermione
Ron
ron

In [84]:
my_tuple.count('Ron')

2

In [86]:
my_tuple.index('Ron') # first occurance

0